<ion-view title="Inventory" align-title="center" ng-app="app">
    <ion-content overflow-scroll="true" padding="true" class="has-header"
    ng-controller="inventoryCtrl">
        <div class="button-bar"></div>
        <div>
            <p>Enter name to display Inventory </p>
        </div>
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Last Name </span>
                    <input type="text" placeholder="" ng-model="lastName">
                </label>
                <label class="item item-input">
                    <span class="input-label"> First Name</span>
                    <input type="text" placeholder="" ng-model="firstName">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a  id="abcd" class="button
                button-stable button-block" ng-click="getUserInventory()">Get
            Inventory!!</a>
        </form>
    </ion-content>
</ion-view>
