<ion-view title=" Item Description" ng-app="app">
    <ion-content overflow-scroll="true" padding="true" class="has-header"
    ng-controller="ItemDescCtrl">
        <form class="list">
            <ion-list ng-repeat="member in item">
            <ion-item> <b>{{itemValues[$index]}}:</b>  {{member}}</ion-item>
            </ion-list> 
        </form>
        <a id="itemDesc-button01" class="button button-stable
            button-block" ng-click="takePicture()">Take a Picture</a>
        <a id="itemDesc-button02" class="button button-stable
            button-block" ng-click="openGallery()">Import a Picture from Gallery</a>        
        <a id="itemDesc-button03" class="button button-stable
            button-block" ng-click="seePictures()">See all the Images</a>
        <a id="itemDesc-button04" class="button button-stable
            button-block" ng-click="displayHistory()"> History </a>
        <a id="itemDesc-button05" class="button button-stable
            button-block" ng-click="TransferItem()"> TransferItem </a>        
        
    </ion-content>
</ion-view>
