<ion-view title="Projector">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Item</span><textarea placeholder=""> Projector</textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">ID</span><textarea placeholder=""> 1234567</textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">Location</span><textarea placeholder=""> Virginia Tech</textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">Owner</span><textarea placeholder=""> RAMACHANDRA PAI</textarea>
            </label>
        </form>
    </ion-content>
</ion-view>